* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #0B2434;
    padding: 20px;
}

main {
    background-color: #F5F5F5;
    height: 400px;
    max-width: 800px;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dice-container {
    display: grid;
    grid-template: auto auto / repeat(5, 1fr);
    gap: 20px;
}

.die-face {
    height: 50px;
    width: 50px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: white;
}

.die-num {
    font-size: 2rem;
}

h2 {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
}

button {
    background: #5035FF;
    box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
    border: none;
    border-radius: 3.81277px;
    width: 150px;
    height: 35.84px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 16.384px;
    color: #FFFFFF;
    margin-top: 25.6px;
}

button:focus {
    outline: none;
}

button:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.title {
    font-size: 25.6px;
    margin-top: -20px;
}

p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13.1072px;
    width: 232.96px;
    color: #4A4E74;
    text-align: center;
    margin-top: -10px;
    margin-bottom: 20px;
}